.historyBattleModalContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

.historyBattlePokemonContainer {
  display: flex;
  justify-content: space-around;
  width: 100%;
  gap: 20px;
}

.faintedPokemon {
  opacity: 0.5;
}

.historyBattleNav button {
  margin: 0 10px;
  padding: 6px 12px;
}

.winnerText {
  font-weight: bold;
  color: green;
  font-size: 16px;
}
.modalCloseButton {
  position: absolute;
  top: 8px;
  right: 8px;
  background: transparent;
  border: none;
  font-size: 20px;
  cursor: pointer;
  z-index: 10;
  color: #555;
}
