.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}

.sidebar {
    width: 20%;
    min-width: 200px;
    border-right: 2px solid white;
    min-height: 100%;
    height: 100%;
    text-align: center;
}

.content {
    width: 75%;
    display: flex;
    flex-direction: column;
    max-height: 100%;
}

.navbutton {
    width: 100%;
    height: 3rem;
}

.navbuttonselected {
    text-decoration: underline;
}