.battleCard {
  border: 3px solid #888;
  border-radius: 8px;
  padding: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0px;
  min-width: 200px;
}

.battleCard p {
    margin: 0;
}

.battleCard:hover {
  border-color: #ccc;
  cursor: pointer;
}