.battlePage {
    height: 100%;
    padding-left: 16px;
    overflow-y: scroll;
}

.battleHeader {
    display: flex;
    flex-direction: row;
    gap: 12px;
    margin-bottom: 16px;
}

.battleButton {
    padding: 16px;
}

.battleList {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 12px;
}