.battleModalContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.battlePokemonContainer {
    display: flex;
    flex-direction: row;
    gap: 20px;
}