.battleModalContainer {
    display: flex;
}

.battleModalTrainer1 {
    flex-direction: row;
}
.battleModalTrainer2 {
    flex-direction: row-reverse;
}

.battleCenterContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 3;
}

.battleSideContainer {
    display: flex;
    flex-direction: column;
    height: fit-content;
    width: 300px;;
}

.battlePokemonContainer {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.movesContainer {
    display: flex;
    flex-direction: column;
    height: 200px;
    overflow-y: scroll;
}

.moveRow:first-child {
    border-top: 1px solid white;
}
.moveRow {
    border-bottom: 1px solid white;
    padding: 5px 0px 5px 10px;
    margin: 0;
    cursor: pointer;
}

.selectedMove {
    background-color: #444; 
    cursor: default;
}

.teamContainer {
    display: flex;
    flex-direction: column;
    height: 200px;
    flex-wrap: wrap;
    gap: 10px;
}

.teamPokemon {
    width: 80px;
    height: 80px;
    box-sizing: border-box;
    cursor: pointer;
}

.activePokemon {
    border: 3px solid #FFD700;
    cursor: default;
}
.selectedPokemon {
    border: 3px solid #ccc;
    cursor: default;
}