.trainerPage {
    display: flex;
    flex-direction: row;
    height: 100%;
}

.teamBuilder {
    flex: 3;
    height: 100%;
    padding: 0px 16px 0px 16px;
}

.teamImageContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

.teamPokemonImage {
    width: 15vw;
    height: 15vw;
}

.teamPokemonImage:hover {
    cursor: pointer;
}

.teamActionContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding-top: 30px;
}

.teamActionButton {
    height: 50px;
    width: 100px;
}

.pokemonSidebar {
    flex: 1;
    border-left: 2px solid white;
    display: flex;
    flex-direction: column;
}

.scrollContainer {
    height: 100%;
    overflow-y: scroll;
}

.pokemonRow {
    border-bottom: 1px solid white;
    padding: 5px 0px 5px 10px;
    margin: 0;
}

.pokemonRow:hover {
    cursor: pointer;
}